waypaper/.config/waypaper/config.ini
**/color*
btop/.config/btop/themes/caelestia.theme
btop/.config/btop/themes/caelestia.theme
spicetify/.config/spicetify/Themes/caelestia/color.ini
hypr/.config/hypr/scheme/current.conf
hypr/.config/hypr/scheme/current.conf
quickshell/.config/quickshell
