
* {
    backgroundA: #14151A20;
    background: #14151A;
    foreground: #F6CCC2;
    color0: #3E4046;
    color1: #3A4958;
    color2: #6A5C69;
    color3: #596674;
    color4: #8F5F63;
    color5: #9E7270;
    color6: #B76A58;
    color7: #E9AD9F;
    color8: #A3796F;
    color9: #3A4E62;
    color10: #7B6778;
    color11: #647487;
    color12: #AB6B71;
    color13: #B4706D;
    color14: #E46C50;
    color15: #E9AD9F;
}
