
* {
    backgroundA: #1A181E20;
    background: #1A181E;
    foreground: #CCDEF9;
    color0: #44434A;
    color1: #4B485A;
    color2: #6D4F95;
    color3: #656A71;
    color4: #A165B9;
    color5: #918668;
    color6: #6387BA;
    color7: #AEC8EE;
    color8: #798CA7;
    color9: #504D65;
    color10: #7E57B4;
    color11: #747984;
    color12: #BA5CDF;
    color13: #978250;
    color14: #6DA2EE;
    color15: #AEC8EE;
}
