@import url("colors.css");

* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font Propo" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#mpris #power-profiles-daemon #network #keyboard-state #cava #battery #backlight #pulseaudio #disk #privacy #idle_inhibitor #memory #cpu #tray #clock{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: @background; 
    color: @color15;
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
    transition: 0.3s;
}
#mpris:hover #power-profiles-daemon:hover #network:hover #keyboard-state:hover #cava:hover #battery:hover #backlight:hover #pulseaudio:hover #disk:hover #privacy:hover #idle_inhibitor:hover #memory:hover #cpu:hover #tray:hover #clock:hover{
    color: @background; 
    background: @color14;
}

#pulseaudio.muted {
    color: @color15;
    background: @background; 
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: @color14;
    color: @background; 

}
#idle_inhibitor.activated{
    color: @color15;
    border-color: @color14;
}
#idle_inhibitor.activated:hover{
    background: @color14;
    color: @background;
    border-color: @color14;
}
#idle_inhibitor.deactivated{
    color: @color15
}
#idle_inhibitor.deactivated:hover{
    color: @background; 
    background: @color14;
}
#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: @color15;
    background: @background;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
}
#custom-launcher:hover { 
    background: @color14;
    color: @background;
}
#network.disconnected {
    color: @color15;
    background: @background; 
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
}
#network.disconnected:hover {
    background: @color14;
    color: @background; 
}
#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: @background; 
    color: @color15;
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
    transition: 0.3s;
}
#custom-power:hover {
    background: @color14;
    color: @background;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 5px;
    background: @background; 
    border-bottom: 3px;
    border-style: solid;
    border-color: @color14;
    color: @color15;
    transition: 0.3s;
}

#workspaces button {
    color: @color15;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}
