.theme-dark {
    --background-primary: {{background}} !important;
    --background-secondary: {{background}} !important;
    --titlebar-background-focused: {{background}} !important;
    --background-modifier-form-field: {{background}} !important;
    --background-modifier-border-focus: {{color14}}33 !important;
    --divider-color: {{color14}}33 !important;
    --background-modifier-cover: {{background}} !important;
    --prompt-border-color: {{color14}}33 !important;
    --layer-1: {{color14}}33 !important;
    --background-modifier-border: {{color14}}77 !important;
    --interactive-normal: var(--layer-1) !important;
    --text-faint: {{color14}}77 !important;
    --background-modifier-border-hover: {{color14}}33 !important;
    --indentation-guide-color: {{color14}}33 !important;
    --indentation-guide-color-active: {{color14}}77 !important;
}

.theme-dark, .nav-folder-title-content::before {
    color: {{color15}}77 !important;
}
.stat-value, .overview-value, .pomodoro-view__stat-value, .today, .year{
    color: {{color14}}77 !important;
}

.is-enabled, .tn-btn{
    background-color: {{color14}} !important;
}


.pomodoro-view__start-button{
    background-color: {{color14}} !important;
}

body {
    --tab-stacked-pane-width: 100%;
}


